*{
    margin: 0px;
}

main{
    margin-left: 10px;
}

/* STILE BANNER CON LOGO */

.banner{
    height: 100px;
    background-image: url(../img/pattern.png);
    background-color: lightskyblue;
    background-repeat: repeat-x;
    background-size: 30%;
    position: relative;
    margin: 0px;
}

.logo{
    width: 15%;
    position: absolute;
    bottom: 10%;
}

/* STILE TITOLO E AUTORE */

.whole-title{
    margin-bottom: 30px;
}
.source{
    color: gray;
}

.title{
    font-size: 50px;
}

.written-by{
    font-size: 20px;
    font-weight: 700;
}

.author{
    color: lightseagreen;
}

.date{
    font-size: 12px;
}

/* STILE IMMAGINI E FONTI */

.images-sources{
    margin-bottom: 30px;
}
.photo-source{
    font-size: 12px;
    font-weight: 700;
}

/* STILE PRIMO E SECONDO PARAGRAFO */

.highlight{
    background-color: yellow;
}

p{
    margin-bottom: 30px;
}

/* STILE LISTA */

ul{
    padding: 10px;
    margin-bottom: 30px;
}

